body {
  margin: 0;
  height: 1500px;
}
.box-r {
  background-color: #ff7979;
  width: 1600px;
  height: 200px;
  position: fixed;
}
.box-bottom {
  padding-top: 200px;
}
.box-b {
  background-color: #7ed6df;
  width: 1200px;
  height: 1300px;
  box-sizing: border-box;
  padding: 50px;
  color: white;
  font-size: 100px;
  display: inline-block;
  vertical-align: top;
}
.box-y {
  background-color: #ffcc00;
  border: 10px solid #979797;
  width: 400px;
  height: 1300px;
  margin-left: -4px;
  box-sizing: border-box;
  display: inline-block;
}
.box-g {
  background-color: #badc58;
  width: 300px;
  height: 120px;
  top: 140px;
  left: 1050px;
  position: fixed;
}
